.git
.github
.claude
.idea
.vscode
.env*
node_modules
vendor
storage/app/*
!storage/app/.gitignore
storage/debugbar
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpstan.neon
phpunit.xml
pint.json
*.md
docker-compose.yml
docker-compose.*.yml
docker/traefik
docker/rabbitmq
docker/postgres
docker/mongodb
docker/redis
docker/app/Dockerfile
.phpstan
coverage
Makefile
