includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    level: 5

    ignoreErrors:
        # MongoDB dynamic properties
        - '#Call to an undefined method .+::getMongoClient\(\)#'

    excludePaths:
        analyseAndScan:
            - app/Http/Middleware (?)
